<div id="<%= dom_id product %>">
  <p>
    <h1><%= link_to product.name.capitalize, product %></h1>
  </p>

  <%= link_to 'Buy product', product.url, class: 'btn btn-success', target: '_blank' %>

  <p>
    <strong>Product name:</strong>
    <%= product.name %>
  </p>

  <% if product.warranty_image_url.present? %>
    <p>
      <strong>Worry-Free Guarantee</strong>
      <%= image_tag(product.warranty_image_url) %>
    </p>
  <% end %>

  <p>
    <strong>Old Price:</strong>
    <%= product.old_price %>
  </p>

  <p>
    <strong>Current price:</strong>
    <%= product.current_price %>
  </p>

  <% if product.image_url.present? %>
    <p>
      <%= image_tag(product.image_url) %>
    </p>
  <% end %>

  <p>
    <strong>Reviews count:</strong>
    <%= product.reviews_count %>
  </p>

  <p>
    <%= raw ERB.new(product.short_detail).result(binding) %>
  </p>

  <p>
    <%= raw ERB.new(product.long_detail).result(binding) %>
  </p>

  <p>
    <%= link_to "Show this product", product %>
  </p>

</div>

<hr>
